@charset "UTF-8";

:root{
    --destaque1: #00AEEF;
    --light: #bfabcc;
    --white: #ffffff;
    --gray: #2B3D41;
    --black: #000000;
    --dark: #1E1E2E;
    --btnBg: #1E1E2E;
    --boxBgColor: #ffffff;
    --link: #ffffff;
}

.light-theme{
    --fontColor: var(--black);
    --bg: var(--light);
    --btnBg: var(--dark);
    --boxBgColor: var(--white);
}

.dark-theme{
    --fontColor: var(--white);
    --bg: var(--black);
    --btnBg: var(--white);
    --boxBgColor: var(--dark);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu {
    position: fixed;
    top: 20px;
    left: 50px;
    width: 50px;
    height: 30px;
    z-index: 100;
    background-color: transparent;
}

.menucircular {
    display: none;
}
  
.menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(139, 112, 162, 0.7);
    cursor: pointer;
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
    opacity: 0.8;
}

.menu-btn:hover {
    opacity: 1;
    background-color: rgb(139, 112, 162, 0.8);
}

.linha {
    position: absolute;
    width: 10px;
    height: 2px;
    background-color: white;
    transition: all 0.3s ease;
}
  
.linha-1 {
    transform: translateY(-3px);
}
  
.linha-2 {
    transform: translateY(0px);
}

.linha-3 {
    transform: translateY(3px);
}
  
.linha-4 {
    opacity: 0;
}

.menucircular:checked + .menu-btn {
    opacity: 1;
    background-color: rgba(44, 62, 80, 1);
}
  
.menucircular:checked + .menu-btn .linha-1 {
    transform: rotate(45deg) translateY(0);
}
  
.menucircular:checked + .menu-btn .linha-2 {
    opacity: 0;
}
  
.menucircular:checked + .menu-btn .linha-3 {
    transform: rotate(-45deg) translateY(0);
}
  
.menu-a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #638DDB;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    left: 5px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: transform 0.3s ease;
    transform: scale(0);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    opacity: 0.9;
}
  
.menucircular:checked ~ .ai-1 {
    transform: scale(1) translate(70px, 0);
}
  
.menucircular:checked ~ .ai-2 {
    transform: scale(1) translate(50px, 50px);
}
  
.menucircular:checked ~ .ai-3 {
    transform: scale(1) translate(0, 70px);
}
  
.menucircular:checked ~ .ai-4 {
    transform: scale(1) translate(-50px, 50px);
  }
  
/* Efeito hover nos itens do menu */
.menu-a:hover {
    background-color: #c0392b;
    opacity: 1;
}
  
.menucircular:checked ~ .ai-1:hover {
    transform: scale(1.1) translate(70px, 0);
}
  
.menucircular:checked ~ .ai-2:hover {
    transform: scale(1.1) translate(50px, 50px);
}
  
.menucircular:checked ~ .ai-3:hover {
    transform: scale(1.1) translate(0, 70px);
}
  
.menucircular:checked ~ .ai-4:hover {
    transform: scale(1.1) translate(-50px, 50px);
}

body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 20px;
    color: var(--fontColor);
    background: var(--bg);
    max-width: 1200px;
    margin: 0 auto;
}

#theme-toggle {
    cursor: pointer;
    background: none;
    border: none;
    font-size: 2rem; /* Aumenta o tamanho do ícone */
    position: fixed; /* Fixa o botão na tela */
    top: 5px; /* Distância do topo */
    right: 20px; /* Distância da direita */
    opacity: 0.7; /* Deixa meio transparente */
    transition: opacity 0.3s ease, transform 0.2s ease;
    z-index: 1000;
}

#theme-toggle:hover {
    opacity: 1;
}

header{
    width: 100%;
    background-color: var(--boxBgColor);
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    
}

#container {
    display: flex; /* Deixa os elementos lado a lado */
    flex-direction: row;
    align-items: center; /* Alinha verticalmente */
    justify-content: space-between; /* Espaço entre os itens */
    max-width: 100%;
    margin: 0 auto; /* Centraliza na tela */
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
}

#avatar-container {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

#avatar{
    height: auto;
    width: 100%;
    max-width: 400px;
    object-fit: cover;
    transition: opacity 0.3s ease, transform 0.2s ease;
    animation: float 3s ease-in-out infinite;
    z-index: 2;
    position: relative;
}

/*#avatar:hover {
    /*transform: scale(1.1); Aumenta o tamanho em 10% */

#avatar-container::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    left: 50px;
    background: rgba(100, 149, 237, 0.3);
    border-radius: 50%;
    z-index: 1; /* Mantém atrás do avatar */
    animation: float 5s infinite ease-in-out;
}

.bubble {
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(100, 149, 237, 0.3);
    border-radius: 50%;
    animation: float 6s infinite ease-in-out;
}

.bubble:nth-child(1) {top: 100px; left: -10px; animation-duration: 4s;}
.bubble:nth-child(2) {top: 30px; right: 10px; animation-duration: 5s;}
.bubble:nth-child(3) {bottom: -5px; left: 50px; animation-duration: 6s;}
.bubble:nth-child(4) {bottom: 5px; right: 5px; animation-duration: 4s;}

@keyframes float {
    0%, 100%{
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

#oi {
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

#oi > h1{
    width: 100%;
    max-width: 440px;
    font-family: "VT323", serif;
    font-weight: lighter;
    letter-spacing: 2px;
    font-size: 5em;
    color: #638DDB;
    text-align: left;
    animation: typing 2s steps(13), blink 0.5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
}

#oi > p{
    width: 100%;
    max-width: 550px;
    font-family: "VT323", serif;
    font-weight: lighter;
    font-size: 1em;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #638DDB;
    text-align: left;
}

@keyframes typing{
    from {
        width: 0;
    }
}

@keyframes blink {
    50%{
        border-color: transparent;
    }
}

.btn{
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--boxBgColor);
    background-color: var(--btnBg);
    margin: 10px;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--boxBgColor);
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    gap: 20px;
}

nav > a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
}

a:hover{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    transition: text-shadow 0.3s ease-in-out;
}

#contact-me {
    cursor: pointer;
    font-size: 20px;
    font-family: "VT323", serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    transition: 0.3s;
}

#contact-me a {
    text-decoration: none; /* Remove o sublinhado padrão */
    color: #638DDB; /* Cor padrão do link */
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

#contact-me a:visited{
    color: rgb(139, 112, 162);
}

#contact-me a:hover{
    color: goldenrod;
}

#contact-me a:active{
    color: mediumvioletred;
}

section#portfolio{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 30px;
    padding: 20px;
    background-color: var(--boxBgColor);
    border-radius: 5px;
    margin: 15px 0;
}

h1{
    color: #638DDB;
}

h2{
    color: #638DDB;
    text-align: center;
    margin: 15px 0;
}

footer{
    background-color: var(--btnBg);
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
    border-radius: 5px;
}

footer > p{
    margin: 5px;
}

@media (max-width: 576px) {
    body {
        padding: 10px;
    }
    
    #container {
        flex-direction: column;
    }
    
    #oi > h1 {
        font-size: 3em;
        max-width: 100%;
    }
    
    #avatar {
        max-width: 300px;
    }
    
    nav {
        flex-direction: column;
        gap: 10px;
    }
    
    #theme-toggle {
        top: 10px;
        right: 10px;
        font-size: 1.5rem;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
    #oi > h1 {
        font-size: 4em;
    }
    
    #container {
        gap: 10px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    #container {
        justify-content: space-around;
    }
}

@media (min-width: 993px) {
    body {
        padding: 30px;
    }
}

@media screen and (max-width: 768px) {
    .menu {
      top: 15px;
      left: 15px;
    }
    
    .menu-btn {
      width: 50px;
      height: 50px;
    }
    
    .menu-a {
      width: 40px;
      height: 40px;
      font-size: 16px;
    }
    
    .menucircular:checked ~ .ai-1 {
      transform: scale(1) translate(60px, 0);
    }
    
    .menucircular:checked ~ .ai-2 {
      transform: scale(1) translate(42px, 42px);
    }
    
    .menucircular:checked ~ .ai-3 {
      transform: scale(1) translate(0, 60px);
    }
    
    .menucircular:checked ~ .ai-4 {
      transform: scale(1) translate(-42px, 42px);
    }
    
    .menucircular:checked ~ .ai-1:hover {
      transform: scale(1.1) translate(60px, 0);
    }
    
    .menucircular:checked ~ .ai-2:hover {
      transform: scale(1.1) translate(42px, 42px);
    }
    
    .menucircular:checked ~ .ai-3:hover {
      transform: scale(1.1) translate(0, 60px);
    }
    
    .menucircular:checked ~ .ai-4:hover {
      transform: scale(1.1) translate(-42px, 42px);
    }
  }
  
  /* Ainda mais compacto para telas muito pequenas */
  @media screen and (max-width: 480px) {
    .menu {
      top: 10px;
      left: 10px;
    }
    
    .menu-btn {
      width: 45px;
      height: 45px;
    }
    
    .menu-a {
      width: 35px;
      height: 35px;
      font-size: 14px;
    }
    
    .menucircular:checked ~ .ai-1 {
      transform: scale(1) translate(50px, 0);
    }
    
    .menucircular:checked ~ .ai-2 {
      transform: scale(1) translate(35px, 35px);
    }
    
    .menucircular:checked ~ .ai-3 {
      transform: scale(1) translate(0, 50px);
    }
    
    .menucircular:checked ~ .ai-4 {
      transform: scale(1) translate(-35px, 35px);
    }
    
    .menucircular:checked ~ .ai-1:hover {
      transform: scale(1.1) translate(50px, 0);
    }
    
    .menucircular:checked ~ .ai-2:hover {
      transform: scale(1.1) translate(35px, 35px);
    }
    
    .menucircular:checked ~ .ai-3:hover {
      transform: scale(1.1) translate(0, 50px);
    }
    
    .menucircular:checked ~ .ai-4:hover {
      transform: scale(1.1) translate(-35px, 35px);
    }
  }